python-dotenv

Django
django-cors-headers
whitenoise

ipython
prompt-toolkit
python-telegram-bot

redis
celery
django-celery-beat

psycopg2-binary
dj-database-url

sentry-sdk==0.14.2

gunicorn
uvicorn
uvloop
httptools

pytz
arrow
