python-dotenv

Django==3.2.12
django-cors-headers
whitenoise
django-redis

ipython
prompt-toolkit
python-telegram-bot

redis
celery
django-celery-beat

psycopg2-binary
dj-database-url

# linter
black==21.10b0
pre-commit==2.15.0

sentry-sdk

gunicorn
uvicorn==0.16.0
uvloop
httptools

pytz
arrow
